@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

html,
body {
  height: 100%;
  font-family: "Arial", cursive;
  overflow: hidden;
  scrollbar-width: none;
}
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}
